body{
min-height:100vh;
}

.app{
max-width:900px;
margin:auto;
padding:32px 24px 100px;
}


.topbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.small-title{
font-size:12px;
letter-spacing:4px;
color:var(--secondary);
font-weight:700;
}

h1{
font-size:42px;
margin:4px 0;
letter-spacing:-2px;
}


.user{
display:flex;
align-items:center;
gap:10px;
background:white;
padding:10px 14px;
border-radius:30px;
border:1px solid var(--border);
}

.avatar{
width:36px;
height:36px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
background:#eef2ff;
color:var(--blue);
font-weight:700;
}


.user small{
display:block;
color:var(--secondary);
}


.welcome{
margin:45px 0 30px;
}

.welcome h2{
font-size:32px;
margin:0 0 8px;
}

.welcome p{
color:var(--secondary);
font-size:17px;
}


.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:16px;
}


.stat-card{
background:var(--card);
border:1px solid var(--border);
border-radius:24px;
padding:24px;
}


.stat-card span{
color:var(--secondary);
}

.stat-card strong{
display:block;
font-size:42px;
margin-top:12px;
}


.section{
margin-top:35px;
}


.section-title{
display:flex;
justify-content:space-between;
align-items:center;
}

.section-title a{
color:var(--blue);
}


.activity{
background:white;
border-radius:24px;
border:1px solid var(--border);
padding:8px 24px;
}


.item{
display:flex;
gap:15px;
padding:20px 0;
border-bottom:1px solid var(--border);
}


.item:last-child{
border:none;
}


.icon{
width:42px;
height:42px;
border-radius:14px;
background:#eef2ff;
display:flex;
align-items:center;
justify-content:center;
color:var(--blue);
}


.item p{
margin:5px 0 0;
color:var(--secondary);
}


.bottom-nav{
display:none;
}


@media(max-width:700px){

.app{
padding:24px 18px 100px;
}

h1{
font-size:36px;
}

.user div{
display:none;
}

.stats{
grid-template-columns:1fr;
}


.bottom-nav{
position:fixed;
display:flex;
bottom:16px;
left:16px;
right:16px;
height:72px;
background:rgba(255,255,255,.9);
backdrop-filter:blur(20px);
border:1px solid var(--border);
border-radius:24px;
justify-content:space-around;
align-items:center;
}

.bottom-nav a{
text-align:center;
color:var(--secondary);
font-size:22px;
}

.bottom-nav span{
display:block;
font-size:12px;
margin-top:4px;
}

.bottom-nav .active{
color:var(--blue);
}

}
